# Django Settings
DJANGO_SECRET_KEY=cambia-esto-en-produccion
DJANGO_DEBUG=True
ALLOWED_HOSTS=*

# Database Settings
DB_NAME=tu_nombre_de_base_de_datos
DB_USER=tu_usuario_de_base_de_datos
DB_PASSWORD=tu_contrasena_segura
DB_HOST=localhost
DB_PORT=5432 # Puerto por defecto para PostgreSQL

# Email Settings
EMAIL_HOST_USER=tu_correo_electronico
EMAIL_HOST_PASSWORD=your_16_character_app_password
