{% extends "reservas/emails/base_email.html" %}

{% block title %}Reserva Creada{% endblock %}

{% block content %}
    <h1>¡Tu reserva ha sido creada!</h1>
    <p>Hola {{ usuario.nombre }},</p>
    <p>Te confirmamos que tu reserva para el vehículo <strong>{{ ticket.id_vehiculo }}</strong> ha sido creada con éxito.</p>
    <p><strong>Detalles de la reserva:</strong></p>
    <ul>
        <li><strong>ID de Reserva:</strong> #{{ ticket.pk }}</li>
        <li><strong>Destino:</strong> {{ ticket.destino }}</li>
        <li><strong>Salida:</strong> {{ ticket.hora_inicio|date:"d/m/Y H:i" }} hs</li>
        <li><strong>Regreso:</strong> {{ ticket.hora_fin|date:"d/m/Y H:i" }} hs</li>
    </ul>
    <p>Puedes ver los detalles completos de tu reserva en el panel de la aplicación.</p>
    <br>
    <p>Gracias por usar nuestro sistema.</p>
{% endblock %}
